@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Rubik:wght@400;500;600;700;800&display=swap');


*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

section{
    padding-top: 5rem;
}

h2{
    font-family: 'JetBrains Mono', monospace;
    color: darkslategrey;
}

p{
    font-family: 'Rubik', sans-serif;
    color: darkslategrey;
}

h3{
    font-family: 'JetBrains Mono', monospace;
    color: #1765E7;
}

.jumbotron{
    background-color: #7dabfc;
}


.effect{
    position: relative;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    margin-bottom: 10px;
}

a{
    position: relative;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

a:hover{
    color: #1765E7;
}

.effect:after{
    content: "";
    position: absolute;
    background-color: #1765E7;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.effect:hover:after{
    width: 100%;
}

.icon a{
    font-size: 24px;
    margin: 2rem;
    color: black;
}

.iconss{
    color: black;
}

.icons a{
    font-size: 16px;
    color: white;
    margin: 1 rem;
}

span{
    color: #1765E7;
}

.heart{
    color: red;
}

.create{
    color: #fff;
}

.icon1 a{
    font-size: 22px;
}

.spas{
    width: 300px;
    border-top: 2px solid #1765E7;
    margin: top;
}

hr{
    width: 300px;
    border-top: 2px solid black;
    margin: auto;
}

a img{
    transition: 0.7s;
}

a img:hover{
    transform: scale(1.3);
    z-index: 2;
}


.skills__container{
    row-gap: 3.5rem;
}

.skills__title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 2.5rem;
}

.skills__title i{
    font-size: 1rem;
    font-weight: initial;
}

.skills__info,
.skills__data,
.skills__blob{
    display: grid;
}

.skills__info{
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem 1rem;
}

.skills__data{
    justify-content: center;
    text-align: center;
}

.skills__blob{
    width: 80px;
    height: 100px;
    background-color: rgb(171, 178, 185);
    border-radius: 10%;
    place-items: center;
    margin-bottom: 1rem;
}

.skills__blob img{
    width: 70px;
}

.skills__name{
    font-size: small;
    margin-bottom: .25rem;
}

.skills__blob:hover img{
    animation: bounce-skills .6s;
}

.card img{
    height: 180px;
}

@keyframes bounce-skills{
    0%{
        transform: translate(0);
    }
    20%{
        transform: translateY(-6px);
    }
    40%{
        transform: translate(0);
    }
    60%{
        transform: translateY(-3px);
    }
    80%{
        transform: translate(0);
    }
}